{% extends 'dashboard/dash.html' %}
{% load static %}

{% block content %}
<div id="customers" class="activated" style="display : block;">

    <div class="section-admin">
        <!-- SECTION -->
        <div class="section">
            <!-- container -->
            <div class="container">
                <div class="col-md-12">
                    <div class="section-title">
                        <h3 class="title">List of Customers</h3>
                    </div>
                </div>
                <!-- row -->
                <div class="row">
                    {% for c in customers %}
                    <div class="col-md-4 col-xs-6">
                        <div class="product">
                            <div class="product-body">
                                <!-- <p class="product-category">Category</p> -->
                                <h3 class="catigory-name"><a href="#"> {{c.user.username}}</a></h3>
                                <h5 class="catigory-name"><a href="#"> {{c.user.email}}</a></h5>
                                <br>

                            </div>
                        </div>
                    </div>
                    <!-- /product -->
                    {% endfor %}

                    <div class="clearfix visible-sm visible-xs"></div>

                </div>
                <!-- /store products -->

                <!-- store bottom filter -->
                <div class="store-filter clearfix">
                    <ul class="store-pagination">
                        <li class="active">1</li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </div>
                <!-- /store bottom filter -->
            </div>
            <!-- /STORE -->
        </div>
        <!-- /row -->
    </div>

</div>

{% endblock %}