{% extends 'home/index.html' %}
{% load static %}

{% block content %}
		<!-- NAVIGATION -->
		<nav id="navigation">
			<!-- container -->
			<div class="container">
				<!-- responsive-nav -->
				<div id="responsive-nav">
					<!-- NAV -->
					<ul class="main-nav nav navbar-nav">
						<li ><a href="{% url 'homepage' %}">Home</a></li>
						<li ><a href="{% url 'categorypage' %}">Categories</a></li>
                        <li  class="active" ><a href="{% url 'brandspage' %}">Brands</a></li>

						<li><a href="{% url 'bestdealpage' %}">Best Deals</a></li>
						<li><a href="{% url 'topsellingpage' %}">Top selling</a></li>
					</ul>
					<!-- /NAV -->
				</div>
				<!-- /responsive-nav -->
			</div>
			<!-- /container -->
		</nav>
		<!-- /NAVIGATION -->

		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<ul class="breadcrumb-tree">
							<li><a href="#">Home</a></li>
							<li><a href="#">Brands</a></li>


						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- ASIDE -->
					<div id="aside" class="col-md-3">
						<!-- aside Widget -->

						<!-- /aside Widget -->

						<!-- aside Widget -->
						<div class="aside">
							<h3 class="aside-title">Price</h3>
							<div class="price-filter">
								<div id="price-slider"></div>
								<div class="input-number price-min">
									<input id="price-min" type="number">
									<span class="qty-up">+</span>
									<span class="qty-down">-</span>
								</div>
								<span>-</span>
								<div class="input-number price-max">
									<input id="price-max" type="number">
									<span class="qty-up">+</span>
									<span class="qty-down">-</span>
								</div>
							</div>
						</div>
						<!-- /aside Widget -->

						<!-- aside Widget -->

						<!-- /aside Widget -->


						<!-- aside Widget -->
						<div class="aside">
							<h3 class="aside-title">Top selling</h3>
                            {% for product in products %}
							{% if not product.is_archived  %}
							<div class="product-widget">
								<div class="product-img">
									<img src="{{product.imageURL}}" alt="">
								</div>
								<div class="product-body">
									<p class="product-category">{{product.category}}</p>
									<h3 class="product-name"><a href="#">{{product.name}}</a></h3>
									<h4 class="product-price">${{product.price}} <del class="product-old-price">${{product.old_price}}</del></h4>
								</div>
							</div>
                            {% endif %}
                            {% endfor %}


						</div>
						<!-- /aside Widget -->
					</div>
					<!-- /ASIDE -->

					<!-- STORE -->
					<div id="store" class="col-md-9">
						<!-- store top filter -->
						<div class="store-filter clearfix">
							<div class="store-sort">
								<h3 class="aside-title"> Brand : {{brand.name}}</h3>

								<label>
									Brand:
									<select class="input-select">
										<option value="0">{{brand.name}}</option>
									</select>
								</label>

								<label>
									Articles :
									<select class="input-select">
										<option value="0">{{brand.get_total}}</option>
									</select>
								</label>
							</div>
							<ul class="store-grid">
								<li class="active"><i class="fa fa-th"></i></li>

							</ul>
						</div>
						<!-- /store top filter -->

						<!-- store products -->
						<div class="row">
							<!-- product -->
							{% for product in products %}
							{% if not product.is_archived  %}

							<div class="col-md-4 col-xs-6" >
												<div class="product">

													<a href="{% url 'product_details' product.id %}"  >
													<div class="product-img">

													<img  src="{{product.imageURL}}" alt="" width="200" height="400">
														<div class="product-label">
															<span class="sale">{{product.getremise}}%</span>

		{% if product.is_new %}
															<span class="new">NEW</span>
															{% endif %}
														</div>
													</div>
												</a>
													<div class="product-body">
														<p class="product-category">{{product.catalog}}</p>
														<h3 class="product-name"><a href="{% url 'product_details' product.id %}">{{product.name}}</a></h3>
														<h4 class="product-price">${{product.price}}<del class="product-old-price">${{product.old_price}}</del></h4>
														<div class="product-rating">
																{% if 1 >= product.getrate  %}
																<i class="fa fa-star"></i>
																<i class="fa fa-star-o empty"></i>
																<i class="fa fa-star-o empty"></i>
																<i class="fa fa-star-o empty"></i>
																<i class="fa fa-star-o empty"></i>
																{% elif  1 < product.getrate and product.getrate <= 2  %}
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star-o empty"></i>
																<i class="fa fa-star-o empty"></i>
																<i class="fa fa-star-o empty"></i>
																{% elif  2 < product.getrate  and product.getrate <= 3%}

																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star-o empty"></i>
																<i class="fa fa-star-o empty"></i>
																{% elif 3 < product.getrate and product.getrate <= 4   %}
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star-o empty"></i>
																{% elif 4 < product.getrate and product.getrate <= 5 %}
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																{% endif %}
														</div>

														<div class="product-btns">
															<button  data-product={{product.id}} data-action="add-wish" class="update-wish" ><i class="fa fa-heart-o update-wish "></i><span class="tooltipp update-wish">add to wishlist</span></button>
															<button class="add-to-compare"><i class="fa fa-exchange" ></i><span class="tooltipp">add to compare</span></button>
															<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
														</div>
													</div>
													<div class="add-to-cart">
														<button data-product={{product.id}} data-action="add" class="add-to-cart-btn update-cart" > add to cart</button> <br>
													</div>
													</div>
								<br>
								<br>
								<br>
							</div>
							<!-- /product -->
{% endif %}
{% endfor %}
						</div>
						<!-- /store products -->

						<!-- store bottom filter -->
						<div class="store-filter clearfix">
							<span class="store-qty">Showing 5 - {{total_prod}} products</span>
							<ul class="store-pagination">
								{% if products.has_previous %}
									  <li><a href="?page={{ products.previous_page_number }}">&laquo;</a></li>
									{% else %}
									  <li class="disabled"><span>&laquo;</span></li>
									{% endif %}
									{% for i in products.paginator.page_range %}
									  {% if products.number == i %}
										<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
									  {% else %}
										<li><a href="?page={{ i }}">{{ i }}</a></li>
									  {% endif %}
									{% endfor %}
									{% if products.has_next %}
									  <li><a href="?page={{ products.next_page_number }}">&raquo;</a></li>
									{% else %}
									  <li class="disabled"><span>&raquo;</span></li>
									{% endif %}
							</ul>
						</div>
						<!-- /store bottom filter -->
					</div>
					<!-- /STORE -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

	    
{% endblock %}